@model Website.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var customer in Model.Customers)
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href=/Customers/Edit/@customer.Id>@customer.Name</a></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}
