@model Website.ViewModels.WorldViewModel
@{
    ViewBag.Title = "Worlds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var world in Model.Worlds)
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href=/Worlds/Id/@world.Id>@world.Name</a></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}