@{
    ViewBag.Title = "Confirm E-mail Adresss";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank You for confirming Your E-mail Adress. @Html.ActionLink("Click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
